body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    
}

body {
display: flex;
justify-content: center;
gap: 1rem;
padding-top: 2rem;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
flex-direction: column;
padding: 1rem;
}

form > button {
    height: 2%;
    width: 5rem;
    background-color:blueviolet;
    border-radius: 15px;
    cursor: pointer;

}